<h2>
    <%= @user.username.titleize %>
</h2>
<p> <% if @user.ratings.empty? %> 
        has not yet given any ratings
    <%else %>
        <b> has given <%= pluralize(@user.ratings.count, 'rating')%>, average <%=@user.average_rating%> </b></br>
        <b> favorite style <%= @user.favorite_style %> </b></br>
        <b> favorite brewery <%= @user.favorite_brewery %> </b>
    <% end %>
</p>

<table>
    <% @user.ratings.each do |rating| %>
  <tr>
    <td><%= link_to rating.beer.name, rating.beer %></td>
    
    <% if @user == current_user %>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<p> <% if @user.beer_clubs.empty? %> 
        User is not a member of a beer club
    <%else %>
        User is a member of <%= pluralize(@user.beer_clubs.count, 'beer club')%>
        <% @user.beer_clubs.each do |beer_club| %>
            <li> <%= link_to beer_club, beer_club_path %>  </li>         
        <% end %>
    <% end %>
</p>



<% if currently_signed_in?(@user) %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>|
<% end %>
<%= link_to 'Back', users_path %>
